.primary-btn {
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  border: none;
  padding: .5rem 2rem;
  font-weight: bold;
  background-color: hsl(135, 100%, 33%);
}

.primary-btn:hover {
  background-color: hsl(135, 100%, 38%);
}

.clear-btn {
  background-color: hsla(0, 0%, 0%, 0.1);
  border: 1px solid black;
  border-radius: 5px;
  padding: .3rem .5rem;
  cursor: pointer;
}

.clear-btn:hover {
  background-color: hsla(0, 0%, 0%, 0.2);
}

.invisable-btn {
  background-color: hsla(0, 0%, 0%, 0);
  border: none;
  outline: none;
  align-self: end;
  cursor: pointer;
}