.primary-btn {
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  border: 2px solid hsl(135, 100%, 32%);
  color: hsl(135, 100%, 32%);
  font-size: 15px;
  padding: .5rem 2rem;
  font-weight: bold;
  background-color: white;
}

.primary-btn:hover {
  color: hsl(135, 100%, 38%);
  border-color: hsl(135, 100%, 38%);
  background-color: hsl(135, 100%, 95%);
}

.category-color-btn {
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  border: 2px solid;
  font-size: 15px;
  padding: .5rem 2rem;
  font-weight: bold;
  transition: 100ms;
}

.category-color-btn:hover {
  opacity: .8;
}

.danger-btn {
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  border: 2px solid hsl(0, 74%, 44%);
  color: hsl(0, 74%, 44%);
  background-color: hsl(0, 74%, 95%);
  font-size: 15px;
  padding: .5rem 2rem;
  font-weight: bold;
}

.danger-btn:hover {
  color: hsl(0, 74%, 54%);
  border-color: hsl(0, 74%, 54%);
  background-color: hsl(0, 74%, 92%);
}

.clear-btn {
  background-color: hsla(0, 0%, 0%, 0.1);
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 5px 0 5px;
  font-size: 20px;
  cursor: pointer;
}

.clear-btn:hover {
  background-color: hsla(0, 0%, 0%, 0.2);
}

.invisable-btn {
  background-color: hsla(0, 0%, 0%, 0);
  border: none;
  outline: none;
  align-self: end;
  cursor: pointer;
}

.icon-btn {
  background-color: hsla(0, 0%, 0%, 0);
  border: 1px solid black;
  border-radius: 8px;
  padding: 5px 5px 0 5px;
  font-size: 20px;
  cursor: pointer;
}