.modal-screen {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, .7);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.modal-content {
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 0 1rem;
}

.modal-content h1 {
  text-align: center;
  padding: 0 2rem;
}

.freeze {
  overflow: hidden;
}