.table {
  border-collapse: collapse;
  width: 85vw;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 10px;
}

.th, .td {
  border-bottom: 1px solid black;
  opacity: 1;
  text-align: center;
  font-weight: bold;
}

@media (max-width: 510px) {
  .table {
    width: 100vw;
  }
}